body {
    min-height: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    font-size: 5em;
    background-color: gold;
    padding: 2em;
    margin: auto;
}

textarea {
    width: 50em;
    height: 50em;
}

.question {
    font-family: 'IM Fell Double Pica', serif;
    margin: 1em;
}

.question p {
    font-size: 1.5em;
}

footer {
    bottom: 0;
    color: grey;
    position: fixed;
    margin: auto;
    background-color: gold;
    width: 100%;
    max-width: 100%;
    text-align: center;
}